<header>
    <div class="container">
        <span id="menu-btn"></span>
        <div class="row">
            <div class="col-md-3">

                <!-- logo begin -->
                <div id="logo">
                    <div class="inner">
                        <a href="index.html">
                            <img src="img/logo.png" alt="" class="logo-1">
                            <img src="img/logo-2.png" alt="" class="logo-2">
                        </a>

                    </div>
                </div>
                <!-- logo close -->

            </div>

            <div class="col-md-9">

                <!-- mainmenu begin -->
                <div id="mainmenu-container">
                    <ul id="mainmenu">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="events.html">Teachings</a>
                        </li>
                        <li>
                            <a href="sermons.html">Ministries</a>
                            @await Component.InvokeAsync("MinistryComponent")
                        </li>
                        <li>
                            <a href="features.html">Communities</a>
                            @await Component.InvokeAsync("CommunityComponent")
                        </li>
                        <li>
                            <a href="news.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- mainmenu close -->
                <!-- social icons -->
                <div class="social">
                    <a href="https://www.facebook.com/yeshuafamcom" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a asp-action="Contact"><i class="fa fa-envelope-o"></i></a>
                </div>
                <!-- social icons close -->

            </div>
        </div>
    </div>

</header>