@model Admin.YFC.Models.CommunityInfo
<div class="">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Delete Community Information</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-10 ">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="CommunityInfoId" />
                                <div class="form-group">
                                    <label asp-for="CommunityId"></label>
                                    <select asp-for="CommunityId" class="form-control" asp-items="@ViewBag.Communities"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="About"></label>
                                    <textarea id="summernote" asp-for="About" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Leaders"></label>
                                    <textarea id="summernote" asp-for="Leaders" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="News"></label>
                                    <textarea id="summernote" asp-for="News" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Calendar"></label>
                                    <textarea id="summernote" asp-for="Calendar" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>