<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home </a>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Main Contents <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="Index" asp-controller="Headlines">Headlines</a></li>
                    <li><a asp-action="Index" asp-controller="Events">Events</a></li>
                    <li><a asp-action="Index" asp-controller="Statements">Statements</a></li>
                    <li><a asp-action="Index" asp-controller="Inspirations">Inspirations</a></li>
                </ul>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Communities">Communities</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Ministries">Ministries</a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Teachings"><i class="fa fa-desktop"></i> Teachings </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Users"><i class="fa fa-desktop"></i> User Management </a>
            </li>
        </ul>
    </div>
</div>