<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i> Home </a>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Main Contents <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="Index" asp-controller="Headlines">Headlines</a></li>
                    <li><a asp-action="Index" asp-controller="Events">Events</a></li>
                    <li><a asp-action="Index" asp-controller="Churches">About the Church</a></li>
                    <li><a asp-action="Index" asp-controller="Sections">Sections</a></li>
                    <li><a asp-action="Index" asp-controller="Contents">Contents</a></li>
                    <li><a asp-action="Index" asp-controller="Testimonials">Testimonials</a></li>
                    <li>
                        <a><i class="fa fa-edit"></i> Pastor's Message <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-action="Index" asp-controller="Pastors">Pastors</a></li>
                            <li><a asp-action="Index" asp-controller="PastorMessages">Messages</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-edit"></i> Groups <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-action="Index" asp-controller="Ministries">Ministries</a></li>
                            <li><a asp-action="Index" asp-controller="Communities">Communities</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-edit"></i> Groups <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li>
                        <a><i class="fa fa-edit"></i> Communities <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-action="Index" asp-controller="CommunityInfos">Information</a></li>
                            <li><a asp-action="Index" asp-controller="CommunityLeaders">Leaders</a></li>
                            <li><a asp-action="Index" asp-controller="CommunitySchedules">Schedules</a></li>
                            <li><a asp-action="Index" asp-controller="CommunityEvents">Events</a></li>
                            <li><a asp-action="Index" asp-controller="CommunityArticles">Articles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-edit"></i> Ministries <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a asp-action="Index" asp-controller="MinistryInfos">Information</a></li>
                            <li><a asp-action="Index" asp-controller="MinistryLeaders">Leaders</a></li>
                            <li><a asp-action="Index" asp-controller="MinistrySchedules">Schedules</a></li>
                            <li><a asp-action="Index" asp-controller="MinistryEvents">Events</a></li>
                            <li><a asp-action="Index" asp-controller="MinistryArticles">Articles</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Teachings"><i class="fa fa-desktop"></i> Teachings </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Users"><i class="fa fa-desktop"></i> User Management </a>
            </li>
        </ul>
    </div>
</div>