@model List<Web.YFC.Models.Community>

<ul>
    @foreach (var community in Model)
    {
        <li><a asp-action="Community" asp-controller="Home" asp-route-id="@community.CommunityId">@community.Name</a></li>
    }
</ul>