<div class="">

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Statements</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">                         
                        <div class="col-sm-12 ">
                            <table id="statements" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Message</th>
                                        <th>Author</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>